@model IEnumerable<Category>

@{
    ViewData["Title"] = "Categories";
}

<div class="text-center mb-4"> 
    <h1>Categories</h1>
    <p class="text-muted">
        This page displays all the categories available in the system. You can view products, update, or delete any category. 
        Use the button below to create a new category.
    </p>
</div>

<div class="d-flex flex-column align-items-center">
    @foreach (var category in Model)
    {
        <div class="mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@category.Name</h5>
                    <a href="@Url.Action("Details", "Category", new {id = category.CategoryId})" class="btn btn-primary">View Products</a>
                    <a href="@Url.Action("Delete","Category", new {id = category.CategoryId})" class="btn btn-danger">Delete</a>
                    <a href="@Url.Action("Update","Category", new {id = category.CategoryId})" class="btn btn-success">Update</a>
                </div>
            </div>
        </div>
    }
</div>

<div class="text-center mt-4">
    <a asp-action="CreateCategory" class="btn btn-info">Create new Category</a>
</div>
