@model Review

<h2>Confirm Review Deletion</h2>

<div>
    <h3>Are you sure you want to delete this category?</h3>
    <p><strong>Response:</strong> @Model.Response</p>
    <form asp-action="DeleteResponseConfirm" method="post">
        <input type="hidden" name="id" value="@Model.ReviewId" />
        <button type="submit" class="btn btn-danger">Yes, Delete</button>
        <a asp-action="ListReviews" asp-route-id="@Model.ProductId" class="btn btn-secondary">Cancel</a>
    </form>
</div>