@model mvc.DAL.Models.ApplicationUser
@{
    ViewData["Title"] = "User Dashboard";
}

<div class="text-center mb-4">
    <h1>@Model.Email</h1>
    <p class="text-muted">
        Welcome to the User Dashboard!
        Your personalized space for managing your collection and reviews, exploring products, and staying updated. 
        From here, you can access your favorite collections, track reviews and responses.
    </p>
</div>

<div class="d-flex flex-column align-items-center">
    <div class="row">
        <div class="d-flex justify-content-center flex-column align-items-center p-3">
            <a asp-controller="Collection" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-warning mb-2">Manage collections</a>
            <a asp-controller="RegularUser" asp-action="ListReviews" asp-route-id="@Model.Id" class="btn btn-info">Manage reviews</a>
        </div>
    </div>
</div>



