@model Allergy    

<h2>Create New Allergy</h2>

<form asp-action="CreateNewAllergy">
    <div class="form-group">
        <label asp-for="Name"></label><span class="text-danger">*</span>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-outline-success">Create</button>
    <a asp-action="CreateProduct" class="btn btn-secondary">Back to Create Product</a>
</form>
