@model mvc.DAL.ViewModels.CreateProductViewModel

@{
    ViewData["Title"] = "Create Product";
}

<h1>Create New Product</h1>

<form asp-action="Update" method="post">
    <input type="hidden" asp-for="Product.ProductId" />
    <input type="hidden" asp-for="Product.UserId" />
    <input type="hidden" asp-for="Product.User" />
    <div class="form-group">
        <label>Allergies</label>
        <select asp-for="SelectedAllergyCodes" class="form-control" asp-items="Model.AllergyMultiSelectList" multiple="multiple"></select>
        <span asp-validation-for="SelectedAllergyCodes" class="text-danger"></span>    
    </div>

    <div class="form-group">
        <label>Didn't find allergy?</label>
        <a asp-controller="Allergy" asp-action="CreateNewAllergyUpdate" asp-route-id="@Model.Product.ProductId" class="btn btn-secondary">Back to products view</a>
    </div>
    <div class="form-group">
        <label asp-for="Product.Name" class="control-label"></label>
        <input asp-for="Product.Name" class="form-control" />
        <span asp-validation-for="Product.Name" class="text-danger"></span>
    </div>
        <div class="form-group">
        <label asp-for="Product.Energy" class="control-label"></label>
        <input asp-for="Product.Energy" class="form-control" />
        <span asp-validation-for="Product.Energy" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Fat" class="control-label"></label>
        <input asp-for="Product.Fat" class="form-control" />
        <span asp-validation-for="Product.Fat" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Carbohydrates" class="control-label"></label>
        <input asp-for="Product.Carbohydrates" class="form-control" />
        <span asp-validation-for="Product.Carbohydrates" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Protein" class="control-label"></label>
        <input asp-for="Product.Protein" class="form-control" />
        <span asp-validation-for="Product.Protein" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Description" class="control-label"></label>
        <input asp-for="Product.Description" class="form-control" />
        <span asp-validation-for="Product.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.ImageUrl" class="control-label"></label>
        <input asp-for="Product.ImageUrl" class="form-control" />
        <span asp-validation-for="Product.ImageUrl" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Product.CategoryId" class="control-label"></label></label>
        <select asp-for="Product.CategoryId" class="form-control" asp-items="Model.CategorySelectList"></select>
        <span asp-validation-for="Product.CategoryId" class="text-danger"></span>

    </div>

    <button type="submit" class="btn btn-primary">Update</button>
    <a asp-action="Index" class="btn btn-secondary">Back to product view</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}